@charset "UTF-8";

/* Configurações gerais */

:root {
    --preto: #111010;
    --branco: #f5f5f5;
    --azulClaro: #48cae4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

/* Configurações do header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: var(--azulClaro);
}

header > h1 > span {
    color: var(--branco);
}

/* Configurações do input de task */

div.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.input-add-task {
    position: relative;
    flex: 1;
    min-width: 100px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), color 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
    outline: none;
    border: 1.5px solid var(--azulClaro);
}

.input:focus ~ .user-label, .input:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--preto);
    padding: 0 .2em;
    color: var(--azulClaro);
}

#btn-new-task {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azulClaro);
    color: var(--branco);
    outline: none;
    border-radius: 50%;
    border: none;
    font-size: 2em;
    padding: 1rem;
    width: 45px;
    height: 45px;
    transition: background-color 0.3s;
    margin-left: 1rem;
}

#btn-new-task:hover {
    cursor: pointer;
    background-color: #338ea0;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem;
}

.item-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    transition: ease, .1s;
}

.item-lista:hover {
    width: 101%;
}

.item-lista > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    width: 92%;
    height: 42px;
    border-radius: 8px 0 0 8px;
    padding: 0 8px;
}

.btn-done {
    background-color: var(--azulClaro);
    height: 42px;
    width: 8%;
    border-radius: 0 8px 8px 0;
    color: var(--branco);
    border: none;
    cursor: pointer;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    font-size: 1em;
}

footer > p > span {
    font-style: italic;
    font-size: 1.1em;
}

