@charset "UTF-8";

/* Configurações gerais */

:root {
    --preto: #111010;
    --branco: #f5f5f5;
    --azulClaro: #49cae4;
    --cinza: #b9b8b8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

/* Configurações do header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: var(--azulClaro);
}

header > h1 > span {
    color: var(--branco);
}

/* Configurações do input de task */

div.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.input-add-task {
    position: relative;
    flex: 1;
    min-width: 100px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: solid 1.5px var(--cinza);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--branco);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: var(--cinza);
    pointer-events: none;
    transform: translateY(1rem);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), color 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
    outline: none;
    border: 1.5px solid var(--azulClaro);
}

.input:focus ~ .user-label, .input:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--preto);
    padding: 0 .2em;
    color: var(--azulClaro);
}

/* Botão add task */

.btn-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.btn-add-task::after {
    position: absolute;
    font-size: 15px;
    opacity: 0;
    transition: .2s linear;
    top: 115%;
}

.icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
}

.icon path {
    fill: var(--cinza);
    transition: .2s linear;
}

.btn-add-task:hover > .icon {
    transform: scale(1.2);
}

.btn-add-task:hover > .icon path {
    fill: var(--azulClaro);
}

.btn-add-task:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}

/* Configurações da lista */  

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem;
}

.item-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    transition: ease, .1s;
}

.item-lista:hover {
    width: 101%;
}

.item-lista > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    width: 92%;
    height: 42px;
    border-radius: 8px 0 0 8px;
    padding: 0 8px;
}

.btn-done {
    background-color: var(--azulClaro);
    height: 42px;
    width: 8%;
    border-radius: 0 8px 8px 0;
    color: var(--branco);
    border: none;
    cursor: pointer;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    font-size: 1em;
}

footer > p > span {
    font-style: italic;
    font-size: 1.1em;
}

