@charset "UTF-8";

:root {
    --preto: #111010;
    --branco: #f5f5f5;
    --azulClaro: #48cae4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--preto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: var(--azulClaro);
}

header > h1 > span {
    color: var(--branco);
}

div.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 30px;
}

div.add-task > input[type=text] {
    padding: 8px;
    width: 95%;
    height: 45px;
    border-style: none;
    border-radius: 12px;
    outline: none;
    font-size: 1em;
}

#btn-new-task {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azulClaro);
    color: var(--branco);
    outline: none;
    border-radius: 50%;
    border: none;
    font-size: 2em;
    padding: 1rem;
    width: 45px;
    height: 45px;
    transition: .3s;
}

#btn-new-task:hover {
    cursor: pointer;
    background-color: #338ea0;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 3rem;
}

.item-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    transition: ease, .1s;
}

.item-lista:hover {
    width: 101%;
}

.item-lista > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    width: 92%;
    height: 42px;
    border-radius: 8px 0 0 8px;
    padding: 0 8px;
}

.btn-done {
    background-color: var(--azulClaro);
    height: 42px;
    width: 8%;
    border-radius: 0 8px 8px 0;
    color: var(--branco);
    border: none;
    cursor: pointer;
}
